pkg/xml/user.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="User">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:string"/>
                <xs:element name="type">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="mens"/>
                            <xs:enumeration value="organisatie"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="organisatie" type="xs:string"/>
                <xs:element name="datum" type="xs:dateTime"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
