pkg/xsd/user_confirmed.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:simpleType name="ISO8601DateTimeType">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>

    <xs:simpleType name="UUIDType">
        <xs:restriction base="xs:string">
        <xs:pattern value="[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="UserRoleType">
        <xs:restriction base="xs:string">
        <xs:enumeration value="VISITOR"/>
        <xs:enumeration value="COMPANY_CONTACT"/>
        <xs:enumeration value="SPEAKER"/>
        <xs:enumeration value="EVENT_MANAGER"/>
        <xs:enumeration value="CASHIER"/>
        <xs:enumeration value="BAR_STAFF"/>
        <xs:enumeration value="ADMIN"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="EmailType">
        <xs:restriction base="xs:string">
        <xs:pattern value="[^@\s]+@[^@\s]+\.[^@\s]+"/>
        <xs:maxLength value="254"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="UserConfirmed">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id"          type="UUIDType"/>
                <xs:element name="email"       type="EmailType"/>
                <xs:element name="firstName"   type="xs:string"/>
                <xs:element name="lastName"    type="xs:string"/>
                <xs:element name="phone"       type="xs:string"  minOccurs="0"/>
                <xs:element name="role"        type="UserRoleType"/>
                <xs:element name="companyId"   type="UUIDType"   minOccurs="0"/>
                <xs:element name="badgeCode"   type="xs:string"  minOccurs="0"/>
                <xs:element name="isActive"    type="xs:boolean"/>
                <xs:element name="gdprConsent" type="xs:boolean"/>
                <xs:element name="confirmedAt" type="ISO8601DateTimeType"/>
            </xs:sequence>
        </xs:complexType>
  </xs:element>
</xs:schema>